#webcam-buttons {
  width: 300px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#webcam-buttons.record {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
}

#webcam-buttons.record > div {
  width: 100%;
}

#webcam-buttons.record button {
  padding: 5px;
  height: 60px;
  float: unset;
  width: 100%;
  margin-block-start: unset;
  margin-block-end: 0.5em;
}

#webcam-buttons.record #line-wrapper {
  position: relative;
  text-align: center;
}

#webcam-buttons.record #line {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  background-color: #ccc;
}

#webcam-buttons.record #word-wrapper {
  position: relative;
  top: 17px;
  z-index: 1;
}

#webcam-buttons.record #word-wrapper p {
  /*   letter-spacing: 1px; */
  /*   padding: 0px; */
  font: bold 1.5em sans-serif;
  background-color: white;
}

#webcam-buttons.record #take-new-picture {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#webcam-buttons.record .button-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#webcam-buttons.record .button-choice button#upload {
  height: auto;
}

#webcam-buttons.record .button-choice button {
  padding: 5px;
  width: 45%;
  margin: unset;
}

#webcam-buttons button {
  display: unset;
  font-size: 1.1em;
  width: 45%;
  height: 4.5em;
}

#webcam-buttons.verification button#capture {
  /* width: 50%; */
}

#webcam-buttons.verification button#discard {
  font-size: 1em;
  height: 3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

button#upload {
  float: right;
  /* width: 40%; */
}

#player {
  display: block;
  margin: auto;
}

#canvas {
  /* position: rel; */
  display: none;
  margin: auto;
  /* z-index: 1; */
}
