<p class="contactinfo"><a href="{{ "#bio" | relURL }}" style="letter-spacing:.175em; font-size:12px">ABOUT ME</a></p>
{{ with .Site.Data.publications }}
<p class="contactinfo"><a href="{{ "#publications" | relURL }}" style="letter-spacing:.175em; font-size:12px">PUBLICATIONS</a></p>
{{ end }}
{{ with .Site.Data.working_papers }}
<p class="contactinfo"><a href="{{ "#workingpapers" | relURL }}" style="letter-spacing:.175em; font-size:12px">WORKING PAPERS</a></p>
{{ end }}
{{ with .Site.Data.work_in_progress }}
<p class="contactinfo"><a href="{{ "#workinprogress" | relURL }}" style="letter-spacing:.175em; font-size:12px">SELECTED WORK IN PROGRESS</a></p>
{{ end }}
