{{ define "main" -}}
{{ with .GetPage "/sections/aboutme.md" }}
{{ .Content }}
{{ end }}


{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

{{ with .Site.Data.publications }}
<hr>
<h2 id="publications">Publications</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}


{{ with .Site.Data.working_papers }}
<hr>
<h2 id="workingpapers">Working Papers</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

{{ with .Site.Data.work_in_progress }}
<hr>
<h2 id="workinprogress">Selected Work in Progress</h2>
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}


{{ with .GetPage "/sections/attribution.md" }}
<hr>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
